<h1>Restaurants</h1>

<div id="restaurants">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>

<% if policy(Restaurant).new? %>
  <%= link_to new_restaurant_path do %>
    <p><i class="fa-solid fa-plus"></i>Add new restaurant</p>
  <% end %>
<% end %>
