<h1>New Restaurant</h1>
<%= render "form", restaurant: @restaurant, action_text: "Create Restaurant" %>

<div class="return row mt-3">
  <%= link_to restaurants_path do %>
    <p><i class="fa-solid fa-rotate-left "></i>Back to restaurants</p>
  <% end %>
</div>
